<h3>List of all notes</h3>

<table>
    <tr>
        <th><b>Id</b></th>
        <th><b>Note</b></th>
        <th><b>Date Created</b></th>
        <th><b>Date Updated</b></th>
        <th colspan="2"><b>Actions</b></th>
    </tr>
    <tr *ngFor="let note of notes">
        <td>{{note.id}}</td>
        <td>{{note.noteBody}}</td>
        <td>{{note.created_at | date:'short'}}</td>
        <td>{{note.modified_at | date:'short'}}</td>
        <td><button (click)="deleteNote(note.id)">Delete</button></td>
        <td><button (click)="editNote(note.id)">Edit</button></td>
    </tr>
</table>
<br>
<br>
<br>